In [1]:
import pandas as pd

df = pd.read_csv('DATA.csv', delimiter=',') # también se puede usar la función read_table

print(df)

       id first_name    last_name                           email      gender  \
0       1      Marni      Duffell       mduffell0@miibeian.gov.cn     Agender
1       2      Jorey   Kettlewell          jkettlewell1@mysql.com      Female
2       3      Ronna    Pesticcio             rpesticcio2@com.com      Female
3       4      Nadya  Somerscales           nsomerscales3@cnn.com      Female
4       5       Kipp    Chimienti         kchimienti4@plala.or.jp        Male
..    ...        ...          ...                             ...         ...
995   996    Emanuel    Consadine        econsadinern@reuters.com        Male
996   997      Glenn         Pell  gpellro@nationalgeographic.com  Non-binary
997   998      Shell     McJarrow              smcjarrowrp@ft.com        Male
998   999     Dewain   Forrestall       dforrestallrq@histats.com        Male
999  1000     Kylynn     MacTague        kmactaguerr@marriott.com      Female

          ip_address                         career
0     139.100.199.46                        Actuary
1       135.90.41.51  Human Resources Assistant III
2        45.7.121.98            Marketing Assistant
3    205.143.112.115                 Statistician I
4     121.190.48.201              Assistant Manager
..               ...                            ...
995      62.44.0.131               Web Developer IV
996   104.190.176.47   Budget/Accounting Analyst IV
997    33.255.251.37       Senior Financial Analyst
998  121.222.113.171        Accounting Assistant II
999     13.24.180.83                Sales Associate

[1000 rows x 7 columns]